.App {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Content {
  margin: 30px;
  width: 350px;
  height: 550px;
}

.MainTable> tbody {
  display:block;
  height: 500px;
  overflow:auto;
  
}
.MainTable> thead, tbody tr {
  display:table;
  width:100%;      
  border-style: none;   
}
.MainTable> thead {
  width:100%   
}
.MainTable {
  width:100%;
}
