.App {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Content {
  margin: 30px;
  min-width: 400px;
  height: 550px;
  overflow-y:scroll;
}

.PriceColumnHeader, .PriceColumn {
  width: 25%;
}
.NameColumnHeader, .NameColumn {
  width: 55%;
}
.EditColumnHeader, .EditColumnHeader {
  width: 20%;
}

.FormPadding {
  padding: 10px;
}