.App {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Content {
  margin: 30px;
  min-width: 350px;
  width: 90%;
  max-width: 500px;
  height: 600px;
  overflow-y: scroll;
}

.PriceColumnHeader, .PriceColumn {
  width: 25%;
}
.NameColumnHeader, .NameColumn {
  width: 65%;
}
.EditColumnHeader, .EditColumn {
  width: 20%;
}

.FormPadding {
  padding: 10px;
}

.DeleteButton {
  margin-right: auto;
}
